/* Couleurs */
:root {
	--color-blue: #1327b7;
	--color-blue-1: #1b41e9;
	--color-blue-2: #3d4fd1;
	--color-blue-3: #697af3;

	--color-white: #fafafa;
	--color-white-1: #eeedf4;
	--color-white-2: #dedeeb;
	--color-white-only: #fafafa;

	--color-gray: #afafaf;
	--color-gray-1: #494949;

	--color-black: #131313;
	--color-black-1: #111113;
	--color-black-2: #2e2d2d;
	--color-black-3: #161616;

	--color-red: #b5403c;
	--color-red-1: #d62038;
	--color-red-2: #991022;

	--color-green: #11b86a;
	--color-green-1: #23a166;
	--color-green-2: #3ad98f;

	--color-orange: #f88a0c;
	--color-orange-1: #d68120;
	--color-orange-2: #e8a04d;
	--color-orange-3: #e5ae6f;

	--border-gray: rgba(255, 255, 255, 0.171);
}