/* Les variables de base */
:root {
	--font-main: 'Montserrat', sans-serif;
	--font-weight-bold: 600;
	--font-weight-extra-bold: 700;
	--font-weight-black: 800;

	/* Couleurs */
	--color-blue: #1327b7;
	--color-blue-1: #1b41e9;
	--color-blue-2: #3d4fd1;
	--color-blue-3: #697af3;

	--color-white: #fafafa;
	--color-white-1: #eeedf4;
	--color-white-2: #dedeeb;

	--color-gray: #d4d4d4;
	--color-gray-1: #adadad;

	--color-black: #131313;
	--color-black-1: #1c1b1f;
	--color-black-2: #434141;

	--color-red: #b5403c;
	--color-red-1: #d62038;
	--color-red-2: #991022;

	--color-green: #11b86a;
	--color-green-1: #23a166;
	--color-green-2: #3ad98f;

	--color-orange: #f88a0c;
	--color-orange-1: #d68120;
	--color-orange-2: #e8a04d;
	--color-orange-3: #e5ae6f;

	--border-gray: rgba(255, 255, 255, 0.171);

	/* Tailles de texte */
	--text-size-small: 0.8rem;
	--text-size-medium: 1rem;
	--text-size-large: 1.5rem;
	--text-size-extra: 2.5rem;

	/* Bordures */
	--border-radius-small: 0.5rem;
	--border-radius-medium: 1rem;
	--border-radius-big: 2rem;
	--border-radius-circle: 100%;

	/* Les marges et espacements */
	--margin-small: 0.5rem;
	--margin-left-right-small: 0.5rem 0;
	--margin-medium: 1rem;
	--margin-left-right-medium: 1rem 0;
	--margin-large: 2rem;
	--margin-left-right-large: 2rem 0;
	--margin-extra: 4rem;
	--margin-left-right-extra: 4rem 0;

	--padding-small: 0.5rem;
	--padding-left-right-small: 0.5rem 0;
	--padding-medium: 1rem;
	--padding-left-right-medium: 1rem 0;
	--padding-large: 2rem;
	--padding-left-right-large: 2rem 0;
	--padding-extra: 4rem;
	--padding-left-right-extra: 4rem 0;

	--gap-small: 0.5rem;
	--gap-medium: 1rem;
	--gap-large: 2rem;
	--gap-extra: 4rem;
}

/* Mode sombre par défaut */
body {
	background-color: var(--color-black);
	color: var(--color-white);
	font-family: var(--font-main);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	color: inherit;
	font: inherit;
	text-decoration: none;
	list-style: none;
	border: none;
}

button {
	all: unset;
	display: inline-block;
	cursor: pointer;
}

/* Gestion des fonts */
h1 {
	font-size: var(--text-size-extra);
	font-weight: var(--font-weight-black);
}

h2,
i {
	font-size: var(--text-size-medium);
	font-weight: var(--font-weight-extra-bold);
}

h3,
h4,
h5,
button,
a,
input,
span,
p {
	font-size: var(--text-size-small);
	font-weight: var(--font-weight-bold);
}
