{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"printWidth": 1000,
	"bracketSpacing": false,
	"htmlWhitespaceSensitivity": "ignore",
	"singleAttributePerLine": false
}
