{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"printWidth": 0,
	"bracketSpacing": false,
	"htmlWhitespaceSensitivity": "ignore"
}
